pattern(id="largeDotsPattern",x="0",y="0",width="12",height="12",patternUnits="userSpaceOnUse")
    circle(cx="5",cy="5",r="5",fill="#ffffff")
mask(id="largeDots")
    rect.wk-chart-patter-mask(x="0",y="0",width="100%",height="100%",fill="url(#largeDotsPattern)")

pattern(id="smallDotsPattern",x="0",y="0",width="5",height="5",patternUnits="userSpaceOnUse")
    circle(cx="2",cy="2",r="2",fill="#ffffff")
mask(id="smallDots")
    rect.wk-chart-patter-mask(x="0",y="0",width="100%",height="100%",fill="url(#smallDotsPattern)")

pattern(id="stripesPattern",x="0",y="0",width="4",height="4",patternUnits="userSpaceOnUse",patternTransform="rotate(45)")
    rect(width="2",height="100%",fill="#ffffff")
mask(id="stripes")
    rect.wk-chart-patter-mask(x="0",y="0",width="100%",height="100%",fill="url(#stripesPattern)")

linearGradient(id="lgrad-1f77b4",x1="0%",y1="100%",x2="100%",y2="0%")
    stop(offset="0%",style="stop-color:#1f77b4;stop-opacity:1")
    stop(offset="100%",style="stop-color:#15537d;stop-opacity:1")
radialGradient(id="rgrad-1f77b4",cx="50%",cy="50%",r="75%")
    stop(offset="0%",style="stop-color:#1f77b4;stop-opacity:1")
    stop(offset="100%",style="stop-color:#15537d;stop-opacity:1")
linearGradient(id="lgrad-aec7e8",x1="0%",y1="100%",x2="100%",y2="0%")
    stop(offset="0%",style="stop-color:#aec7e8;stop-opacity:1")
    stop(offset="100%",style="stop-color:#798ba2;stop-opacity:1")
radialGradient(id="rgrad-aec7e8",cx="50%",cy="50%",r="75%")
    stop(offset="0%",style="stop-color:#aec7e8;stop-opacity:1")
    stop(offset="100%",style="stop-color:#798ba2;stop-opacity:1")
linearGradient(id="lgrad-ff7f0e",x1="0%",y1="100%",x2="100%",y2="0%")
    stop(offset="0%",style="stop-color:#ff7f0e;stop-opacity:1")
    stop(offset="100%",style="stop-color:#b25809;stop-opacity:1")
radialGradient(id="rgrad-ff7f0e",cx="50%",cy="50%",r="75%")
    stop(offset="0%",style="stop-color:#ff7f0e;stop-opacity:1")
    stop(offset="100%",style="stop-color:#b25809;stop-opacity:1")
linearGradient(id="lgrad-ffbb78",x1="0%",y1="100%",x2="100%",y2="0%")
    stop(offset="0%",style="stop-color:#ffbb78;stop-opacity:1")
    stop(offset="100%",style="stop-color:#b28254;stop-opacity:1")
radialGradient(id="rgrad-ffbb78",cx="50%",cy="50%",r="75%")
    stop(offset="0%",style="stop-color:#ffbb78;stop-opacity:1")
    stop(offset="100%",style="stop-color:#b28254;stop-opacity:1")
linearGradient(id="lgrad-2ca02c",x1="0%",y1="100%",x2="100%",y2="0%")
    stop(offset="0%",style="stop-color:#2ca02c;stop-opacity:1")
    stop(offset="100%",style="stop-color:#1e701e;stop-opacity:1")
radialGradient(id="rgrad-2ca02c",cx="50%",cy="50%",r="75%")
    stop(offset="0%",style="stop-color:#2ca02c;stop-opacity:1")
    stop(offset="100%",style="stop-color:#1e701e;stop-opacity:1")
linearGradient(id="lgrad-98df8a",x1="0%",y1="100%",x2="100%",y2="0%")
    stop(offset="0%",style="stop-color:#98df8a;stop-opacity:1")
    stop(offset="100%",style="stop-color:#6a9c60;stop-opacity:1")
radialGradient(id="rgrad-98df8a",cx="50%",cy="50%",r="75%")
    stop(offset="0%",style="stop-color:#98df8a;stop-opacity:1")
    stop(offset="100%",style="stop-color:#6a9c60;stop-opacity:1")
linearGradient(id="lgrad-d62728",x1="0%",y1="100%",x2="100%",y2="0%")
    stop(offset="0%",style="stop-color:#d62728;stop-opacity:1")
    stop(offset="100%",style="stop-color:#951b1c;stop-opacity:1")
radialGradient(id="rgrad-d62728",cx="50%",cy="50%",r="75%")
    stop(offset="0%",style="stop-color:#d62728;stop-opacity:1")
    stop(offset="100%",style="stop-color:#951b1c;stop-opacity:1")
linearGradient(id="lgrad-ff9896",x1="0%",y1="100%",x2="100%",y2="0%")
    stop(offset="0%",style="stop-color:#ff9896;stop-opacity:1")
    stop(offset="100%",style="stop-color:#b26a69;stop-opacity:1")
radialGradient(id="rgrad-ff9896",cx="50%",cy="50%",r="75%")
    stop(offset="0%",style="stop-color:#ff9896;stop-opacity:1")
    stop(offset="100%",style="stop-color:#b26a69;stop-opacity:1")
linearGradient(id="lgrad-9467bd",x1="0%",y1="100%",x2="100%",y2="0%")
    stop(offset="0%",style="stop-color:#9467bd;stop-opacity:1")
    stop(offset="100%",style="stop-color:#674884;stop-opacity:1")
radialGradient(id="rgrad-9467bd",cx="50%",cy="50%",r="75%")
    stop(offset="0%",style="stop-color:#9467bd;stop-opacity:1")
    stop(offset="100%",style="stop-color:#674884;stop-opacity:1")
linearGradient(id="lgrad-c5b0d5",x1="0%",y1="100%",x2="100%",y2="0%")
    stop(offset="0%",style="stop-color:#c5b0d5;stop-opacity:1")
    stop(offset="100%",style="stop-color:#897b95;stop-opacity:1")
radialGradient(id="rgrad-c5b0d5",cx="50%",cy="50%",r="75%")
    stop(offset="0%",style="stop-color:#c5b0d5;stop-opacity:1")
    stop(offset="100%",style="stop-color:#897b95;stop-opacity:1")
linearGradient(id="lgrad-8c564b",x1="0%",y1="100%",x2="100%",y2="0%")
    stop(offset="0%",style="stop-color:#8c564b;stop-opacity:1")
    stop(offset="100%",style="stop-color:#623c34;stop-opacity:1")
radialGradient(id="rgrad-8c564b",cx="50%",cy="50%",r="75%")
    stop(offset="0%",style="stop-color:#8c564b;stop-opacity:1")
    stop(offset="100%",style="stop-color:#623c34;stop-opacity:1")
linearGradient(id="lgrad-c49c94",x1="0%",y1="100%",x2="100%",y2="0%")
    stop(offset="0%",style="stop-color:#c49c94;stop-opacity:1")
    stop(offset="100%",style="stop-color:#896d67;stop-opacity:1")
radialGradient(id="rgrad-c49c94",cx="50%",cy="50%",r="75%")
    stop(offset="0%",style="stop-color:#c49c94;stop-opacity:1")
    stop(offset="100%",style="stop-color:#896d67;stop-opacity:1")
linearGradient(id="lgrad-e377c2",x1="0%",y1="100%",x2="100%",y2="0%")
    stop(offset="0%",style="stop-color:#e377c2;stop-opacity:1")
    stop(offset="100%",style="stop-color:#9e5387;stop-opacity:1")
radialGradient(id="rgrad-e377c2",cx="50%",cy="50%",r="75%")
    stop(offset="0%",style="stop-color:#e377c2;stop-opacity:1")
    stop(offset="100%",style="stop-color:#9e5387;stop-opacity:1")
linearGradient(id="lgrad-f7b6d2",x1="0%",y1="100%",x2="100%",y2="0%")
    stop(offset="0%",style="stop-color:#f7b6d2;stop-opacity:1")
    stop(offset="100%",style="stop-color:#ac7f93;stop-opacity:1")
radialGradient(id="rgrad-f7b6d2",cx="50%",cy="50%",r="75%")
    stop(offset="0%",style="stop-color:#f7b6d2;stop-opacity:1")
    stop(offset="100%",style="stop-color:#ac7f93;stop-opacity:1")
linearGradient(id="lgrad-7f7f7f",x1="0%",y1="100%",x2="100%",y2="0%")
    stop(offset="0%",style="stop-color:#7f7f7f;stop-opacity:1")
    stop(offset="100%",style="stop-color:#585858;stop-opacity:1")
radialGradient(id="rgrad-7f7f7f",cx="50%",cy="50%",r="75%")
    stop(offset="0%",style="stop-color:#7f7f7f;stop-opacity:1")
    stop(offset="100%",style="stop-color:#585858;stop-opacity:1")
linearGradient(id="lgrad-c7c7c7",x1="0%",y1="100%",x2="100%",y2="0%")
    stop(offset="0%",style="stop-color:#c7c7c7;stop-opacity:1")
    stop(offset="100%",style="stop-color:#8b8b8b;stop-opacity:1")
radialGradient(id="rgrad-c7c7c7",cx="50%",cy="50%",r="75%")
    stop(offset="0%",style="stop-color:#c7c7c7;stop-opacity:1")
    stop(offset="100%",style="stop-color:#8b8b8b;stop-opacity:1")
linearGradient(id="lgrad-bcbd22",x1="0%",y1="100%",x2="100%",y2="0%")
    stop(offset="0%",style="stop-color:#bcbd22;stop-opacity:1")
    stop(offset="100%",style="stop-color:#838417;stop-opacity:1")
radialGradient(id="rgrad-bcbd22",cx="50%",cy="50%",r="75%")
    stop(offset="0%",style="stop-color:#bcbd22;stop-opacity:1")
    stop(offset="100%",style="stop-color:#838417;stop-opacity:1")
linearGradient(id="lgrad-dbdb8d",x1="0%",y1="100%",x2="100%",y2="0%")
    stop(offset="0%",style="stop-color:#dbdb8d;stop-opacity:1")
    stop(offset="100%",style="stop-color:#999962;stop-opacity:1")
radialGradient(id="rgrad-dbdb8d",cx="50%",cy="50%",r="75%")
    stop(offset="0%",style="stop-color:#dbdb8d;stop-opacity:1")
    stop(offset="100%",style="stop-color:#999962;stop-opacity:1")
linearGradient(id="lgrad-17becf",x1="0%",y1="100%",x2="100%",y2="0%")
    stop(offset="0%",style="stop-color:#17becf;stop-opacity:1")
    stop(offset="100%",style="stop-color:#108590;stop-opacity:1")
radialGradient(id="rgrad-17becf",cx="50%",cy="50%",r="75%")
    stop(offset="0%",style="stop-color:#17becf;stop-opacity:1")
    stop(offset="100%",style="stop-color:#108590;stop-opacity:1")
linearGradient(id="lgrad-9edae5",x1="0%",y1="100%",x2="100%",y2="0%")
    stop(offset="0%",style="stop-color:#9edae5;stop-opacity:1")
    stop(offset="100%",style="stop-color:#6e98a0;stop-opacity:1")
radialGradient(id="rgrad-9edae5",cx="50%",cy="50%",r="75%")
    stop(offset="0%",style="stop-color:#9edae5;stop-opacity:1")
    stop(offset="100%",style="stop-color:#6e98a0;stop-opacity:1")