.wk-chart-legend(ng-style="legendStyle", ng-show="showLegend")
    .legend-title(ng-show="title") {{title}}
    ul.list-unstyled
        li(ng-repeat="legendRow in legendRows track by legendRow.value", class="wk-chart-legend-item")
            span(ng-if="legendRow.color", ng-style="legendRow.color") &nbsp;&nbsp;&nbsp;
            svg(ng-if="legendRow.path", style="width:20px;height:17px;")
                path(ng-attr-d="{{legendRow.path}}",transform="translate(8,9)")
            span  &nbsp;{{legendRow.value}}


