.wk-chart-tooltip(ng-style="tooltipStyle", ng-hide="ttHide")
    table.table.table-condensed.table-bordered
        thead(ng-show="headerValue")
            tr
                th(colspan="2") {{headerName}}
                th {{headerValue}}
        tbody
            tr(ng-repeat="(name,value) in layers track by name")
                td(ng-style="value.color", ng-class="value.class")
                    svg(ng-if="value.path", style="width:15px;height:17px;")
                        path(ng-attr-d="{{value.path}}",transform="translate(8,9)")
                td {{name}}
                td {{value.value}}